<html>
<head>
  <link rel="stylesheet" href='/static/style.css' />
</head>
<body>
  <p>CSI CAMERA & USB CAMERA</p>
    <div class="row">
        <div class="column">
          <img src="/static/CSI0.jpg">
          <img src="/static/CSI1.jpg">
          <img src="/static/CSI2.jpg">
          <img src="/static/CSI3.jpg">
          <img src="/static/CSI4.jpg">
          <img src="/static/CSI5.jpg">
        </div>
        <div class="column">
          <img src="/static/USB0.jpg">
          <img src="/static/USB1.jpg">
          <img src="/static/USB2.jpg">
          <img src="/static/USB3.jpg">
          <img src="/static/USB4.jpg">
          <img src="/static/USB5.jpg">
        </div>
    </div>
</body>
</html>
